//Template taken from w3schools https://www.w3schools.com/w3css/tryit.asp?filename=tryw3css_templates_analytics&stacked=h
<!DOCTYPE html>
<html>

<head>
    <title>Home Management</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
    </style>
</head>

<body class="w3-light-grey">

    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="position: relative;">
        <a href="#" class="w3-bar-item w3-button w3-right">John</a>
        <a href="/prefJane" class="w3-bar-item w3-button w3-right">Jane</a>
    </div>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>John</strong></span><br>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a href="/dashboardJohn" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Dashboard</a>
            <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i> Preferences</a>
            <a href="/dataJohn" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Data</a>
        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Preferred conditions</b></h5>
        </header>

        <div class="w3-container">
            <h5>Adjust Condition</h5>
            <p>Temperature</p>
            <input type="range" id="tempSlider" class="w3-slider" style="width: 80%;" min="0" max="40" value="25" oninput="updateTempValue(this.value)">
            <span id="tempValue">25</span> °C

            <p>Light Level</p>
            <input type="range" id="lightSlider" class="w3-slider" style="width: 80%;" min="0" max="1000" value="300" oninput="updateLightValue(this.value)">
            <span id="lightValue">300</span>
            <div>
                <button class="w3-button w3-blue w3-margin-top" onclick="confirmPref()">Confirm</button>
            </div>
        </div>
        <hr>

        <!-- End page content -->
    </div>

    <script>
        // Get the Sidebar
        var mySidebar = document.getElementById("mySidebar");

        // Get the DIV with overlay effect
        var overlayBg = document.getElementById("myOverlay");

        // Toggle between showing and hiding the sidebar, and add overlay effect
        function w3_open() {
            if (mySidebar.style.display === 'block') {
                mySidebar.style.display = 'none';
                overlayBg.style.display = "none";
            } else {
                mySidebar.style.display = 'block';
                overlayBg.style.display = "block";
            }
        }

        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
            overlayBg.style.display = "none";
        }

        //Update text on temperature
        function updateTempValue(value) {
            document.getElementById('tempValue').innerText = value;
        }

        //Update text on light 
        function updateLightValue(value) {
            document.getElementById('lightValue').innerText = value;
        }

        //Sends to server
        //With help from ChatGPT (How to transfer values from html to python script)
        function confirmPref() {
            const temp = document.getElementById('tempSlider').value;
            const light = document.getElementById('lightSlider').value;

            fetch('/add-pref', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        temperature: temp,
                        light: light
                    })
                })
                .then(response => response.json())
                .then(data => {
                    alert('Preferences Saved!');
                })
        }
    </script>

</body>

</html>